#root {
  display: flex;
  flex-direction: column;
  background-color: #79e0ee;
  overflow-y: hidden;
  overflow-x: hidden;
}
html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  overflow-y: hidden; 
  height: 100%; 
  min-height: 100vh;
}


.clouds-container {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  height: auto;
  padding: 20px;
  /* border: solid 1px black;  */
}

.clouds_img {
  width: 85%;
  height: 85%;
  /* border: solid 1px black; */
}

.Big-Tittle {
  font-size: 110px;
  font-weight: bold;
  color: #333232;
  text-align: left;
  margin: 0px;
  font-family: cursive;
}

.Tittle {
  font-size: 60px;
  font-weight: bold;
  color: #333232;
  text-align: left;
  margin: 0px;
  font-family: cursive;
}
.Tittle-container {
  display: inline;
  justify-content: left;
  align-items: center;
  height: auto;
  padding: 0px;
  /* border: solid 1px rgb(219, 40, 40);  */
}
.button-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: auto;
  padding: 20px;
  /* border: solid 1px rgb(14, 226, 24);    */
}
.start-button {
  background-color: #18b61e;
  border: solid 2px #000000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: cursive;
}

.highway-container {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: normal;
  height: auto;
  /* border: solid 1px black;  */
}

.highway-img {
  width: 100%;
  height: 100%;
  /*border: solid 1px black; */
}

.car {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 120px;
  height: 120px;
  /* border: solid 1px black; */
}

.semaforo {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 100%;
  justify-content: right;
  /* border: solid 1px black; */
}
